<div>
    <h2>TODOLIST</h2>
    <h3>20xx.xx.xx</h3>
    <div>40%</div>
    <div>
        <select name="priority">
            <option value="high">높음</option>
            <option value="medium">보통</option>
            <option value="low">낮음</option>
        </select>
        <input type="text"></div>
        <button type="button">추가</button>
    </div>
    <ul>
        <li><button type="button" class="btn">높음</button>끝내주게 숨쉬기<input type="checkbox"></li>
        <li><button type="button" class="btn">높음</button>간지나게 자기<input type="checkbox"></li>
        <li><button type="button">중간</button>작살나게 밥먹기<input type="checkbox"></li>
        <li><button type="button">낮음</button>아무것도 안하기<input type="checkbox"></li>
    </ul>
</div>