<div>
    <h2>TODOLIST</h2>
    <h3>20xx.xx.xx</h3>
    <div>40%</div>
    <div>
        <select id="todoPriority">
            <option value="0">높음</option>
            <option value="1">보통</option>
            <option value="2">낮음</option>
        </select>
        <input type="text" id="todo" placeholder="할 일 입력">
        <button type="button" onclick="addList()">추가</button>
    </div>
    <ul>
        {{#each list}}
            <li><button type="button">{{convertPriority todoPriority}}</button>{{todo}}<input type="checkbox"></li>
        {{/each}}
    </ul>
</div>

<script>
    const postOption = {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        }
    }

    async function addList() {
        const todo = document.getElementById('todo').value;
        const todoPriority = document.getElementById('todoPriority').value;

        if (!todo) {
            alert("할 일을 입력해주세요");
            return ;
        }

        await fetch("/list", {
            ...postOption,
            body: JSON.stringify({ todo, todoPriority })
        })
        .then((res) => {
            if (!res.ok) {
                alert("할 일을 추가하지 못했습니다");
            } else {
                alert("할 일이 추가되었습니다");
                document.location.reload();
            }
        });
    }
</script>